<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>
    <add name="Cnn_Quality" connectionString="Data Source=192.168.1.195\sqlserver2008;Initial Catalog=QC600;Persist Security Info=True;User ID=dso;Password=dsodsodso" providerName="System.Data.SqlClient"/>
    <add name="materia_prima.Properties.Settings.QC600ConnectionString" connectionString="Data Source=SRVQUALITY\SQLSERVER2008;Initial Catalog=QC600;Persist Security Info=True;User ID=dso;Password=dsodsodso" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings file="">
    <clear/>
    <add key="ID" value="1"/>
  </appSettings>
</configuration>
